{% extends "base.html" %}

{% block conteudo %}
	<p>Esta é a pagina de usuarios</p>

	<table border='1'>
		<tr>
			<th>Usuario</th>
			<th>Admin</th>
			<th>Active</th>
            <th>Demitir</th>
		</tr>

        {% for usr in usuarios %}
		<tr>
			<th>{{usr.username}}</th>
			<th>{{usr.admin ? 'Sim' : 'Não'}}</th>
			<th>{{usr.active ? 'Sim' : 'Não'}}</th>
            <th>
                <a href="usuarios_demitir.php?id={{ usr.id }}">Demitir</a>
            </th>

		</tr>
    {% endfor %}

	</table>
{% endblock %}
